In [1]:
import pandas as pd
import numpy as np
from sklearn import set_config
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

set_config(display='diagram')

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df.head()

    A   B   C   D
0  80  28  84  22
1   6  53   9  47
2  43  50  86  72
3  35  96  60  22
4  72   0  36  73

In [3]:
df1 = pd.DataFrame()
for idx1,col1 in enumerate(df.columns):
    for idx2,col2 in enumerate(df.drop(columns=df.columns[:idx1]).columns):
        df1[col1+'x'+col2] = df.loc[:,col1] * df.loc[:,col2]

df1.head()

    AxA   AxB   AxC   AxD   BxB   BxC   BxD   CxC   CxD   DxD
0  6400  2240  6720  1760   784  2352   616  7056  1848   484
1    36   318    54   282  2809   477  2491    81   423  2209
2  1849  2150  3698  3096  2500  4300  3600  7396  6192  5184
3  1225  3360  2100   770  9216  5760  2112  3600  1320   484
4  5184     0  2592  5256     0     0     0  1296  2628  5329

In [4]:
df2 = df.merge(df1, left_index=True, right_index=True)

df2.head()

    A   B   C   D   AxA   AxB   AxC   AxD   BxB   BxC   BxD   CxC   CxD   DxD
0  80  28  84  22  6400  2240  6720  1760   784  2352   616  7056  1848   484
1   6  53   9  47    36   318    54   282  2809   477  2491    81   423  2209
2  43  50  86  72  1849  2150  3698  3096  2500  4300  3600  7396  6192  5184
3  35  96  60  22  1225  3360  2100   770  9216  5760  2112  3600  1320   484
4  72   0  36  73  5184     0  2592  5256     0     0     0  1296  2628  5329

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
norm_scal = StandardScaler()

In [7]:
df3 = pd.DataFrame(index=df2.index, columns=df2.columns)

In [8]:
for col in df2.columns:
    df3[col] = norm_scal.fit_transform(df2[col].values.reshape(-1,1))

In [9]:
df3.head()

,A,B,C,D,AxA,AxB,AxC,AxD,BxB,BxC,BxD,CxC,CxD,DxD
0,1.068134,-0.667332,1.118562,-0.861784,1.078126,-0.070572,1.705159,-0.286968,-0.776981,-0.049964,-0.753386,1.196114,-0.297331,-0.891002
1,-1.531929,0.200686,-1.487594,-0.037268,-1.114075,-1.015997,-1.190595,-0.935083,-0.085455,-0.935607,0.103222,-1.158275,-0.907246,-0.332477
2,-0.231897,0.096524,1.188060,0.787247,-0.489552,-0.114843,0.392382,0.298878,-0.190977,0.870159,0.609878,1.310880,1.561949,0.630778
3,-0.512985,1.693677,0.284592,-0.861784,-0.704501,0.480352,-0.301800,-0.721091,2.102497,1.559779,-0.069927,0.029552,-0.523321,-0.891002
4,0.787046,-1.639513,-0.549378,0.820228,0.659252,-1.172420,-0.088072,1.246056,-1.044712,-1.160914,-1.034810,-0.748156,0.036518,0.677726

In [10]:
df3.shape[1]

14

In [11]:
from sklearn.decomposition import PCA

In [12]:
pca = PCA(n_components=df3.shape[1])

In [13]:
pca.fit_transform(df3)

array([[ 7.45254267e-01, -4.07802261e-01, -3.13320401e+00, ...,
         1.24997870e-02, -2.55584505e-03, -3.47679181e-02],
       [-3.03258598e+00,  3.27382690e-01,  1.60186784e+00, ...,
        -2.67728505e-01,  1.12363104e-01, -9.15033511e-02],
       [ 1.94558144e+00, -8.54483100e-01,  4.77079443e-01, ...,
        -2.09068639e-03,  1.75736647e-01, -1.68678334e-01],
       ...,
       [ 2.15317491e+00, -4.05580948e-01,  3.24078473e+00, ...,
        -4.27060457e-02,  8.73546630e-02,  9.61256556e-02],
       [ 7.13668355e-01,  1.61774673e+00, -1.90822670e+00, ...,
        -4.29372342e-02,  1.31318699e-01, -1.02976876e-01],
       [ 1.35032126e+00,  2.52086864e+00, -1.38809932e+00, ...,
         2.40203898e-02, -2.05473776e-01, -5.79215236e-02]])

In [14]:
vec_var = pca.explained_variance_

In [15]:
pca_comp = (vec_var>1).sum()

In [16]:
pca2 = PCA(n_components=pca_comp)

In [17]:
df4 = pca2.fit_transform(df3)

In [18]:
df4.shape

(100, 4)

In [19]:
Z = df['A'] + df['C']*df['C']*df['C']

In [20]:
Z.head()

0    592784
1       735
2    636099
3    216035
4     46728
dtype: int32

In [37]:
df2['A'].values.reshape(-1,1)

array([[79],
       [33],
       [92],
       [83],
       [12],
       [37],
       [97],
       [34],
       [39],
       [23],
       [22],
       [73],
       [89],
       [87],
       [ 4],
       [82],
       [70],
       [58],
       [52],
       [59],
       [35],
       [28],
       [81],
       [32],
       [12],
       [54],
       [55],
       [76],
       [95],
       [97],
       [81],
       [23],
       [24],
       [42],
       [36],
       [82],
       [93],
       [35],
       [77],
       [75],
       [23],
       [33],
       [30],
       [47],
       [47],
       [97],
       [63],
       [54],
       [84],
       [92],
       [94],
       [76],
       [72],
       [57],
       [39],
       [45],
       [48],
       [59],
       [76],
       [12],
       [90],
       [15],
       [49],
       [10],
       [63],
       [90],
       [ 0],
       [75],
       [19],
       [38],
       [68],
       [91],
       [24],
       [96],
       [74],
       [72],
       [89],
       [59],
       [18],
       [91],
       [89],
       [81],
       [47],
       [86],
       [71],
       [56],
       [94],
       [58],
       [10],
       [ 2],
       [58],
       [82],
       [69],
       [39],
       [67],
       [24],
       [58],
       [73],
       [74],
       [94]])

In [43]:
df3.columns

Index(['A', 'B', 'C', 'D', 'AxA', 'AxB', 'AxC', 'AxD', 'BxB', 'BxC', 'BxD',
       'CxC', 'CxD', 'DxD'],
      dtype='object')

In [44]:
df3['A'] = norm_scal.fit_transform(df2[col].values.reshape(-1,1))

Exception: Data must be 1-dimensional

In [45]:
df3.shape

(0, 14)